anyio==3.7.0
fastapi==0.77.1
h11==0.13.0
idna==3.4
pycparser==2.21
pydantic==1.10.0a1
PyJWT==2.3.0
python-dotenv==0.20.0
python-multipart==0.0.5
sniffio==1.2.0
starlette==0.19.1
typing_extensions==4.2.0
uvicorn==0.22.0
